@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    margin: 0;
    padding: 0;
    background-color: #403a56;
    color:azure;
    text-align: center;
}

.navbar {
    background-color: #20bec6;
    position: sticky;
    top: 0px;
    margin: auto;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.cta {
    float: right;
}

button {
    padding:9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

