@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    margin: 0;
    padding: 0;
    background-color: #403a56;
    text-align: center;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.logo {
    color: #fff;
    background-color: #20bec6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #20bec6;
}

.nav__links {
    list-style: none;
    background-color: #20bec6;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #244a53
}

button {
    padding:9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.container {
    display:block;
    margin: auto;
    width: 70%;
    height:fit-content;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    background-color: #315bb9;
    color: #fff;
}

.pfp {
    border-radius: 20%;
    width: 20%;
    max-width: 30%;
    height:20%;
    max-height:30%;
}

.aboutme {
    display:block;
    margin: auto;
    width: 70%;
    height:fit-content;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    background-color: #766c92;
    color: #fff;
}

p {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}